<h1>Buscador <small>{{termino}}</small></h1>
<hr>
<div class="container">
  <div class="row row-cols-1 row-cols-md-5 g-4">
    <div class="card" *ngFor="let heroe of heroes; let i = index">
      <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
      <div class="card-block">
        <h5 class="card-title">{{heroe.nombre}}</h5>
        <p class="card-text">{{heroe.bio}}</p>
        <p class="card-text"><small class="text-body-secondary">{{heroe.aparicion}}</small></p>

<!--        <button (click)="verHeroe(i)" type="button" class="btn btn-outline-primary">Ver más</button>-->
      </div>
    </div>
  </div>
</div>
